nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}

.topNav {
    background: var(--color-bg-dark);
    width: 100%;
    height: 2rem;
    display: block;
    padding: 0.7rem 1.7rem;
    border-radius: 0rem;
    z-index: 2;
    position: fixed;
    top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8rem;
}

.topNavText {
    padding: 0rem 0rem 0rem .5rem;
    font-size: .9rem;
}

.topNavLink {
    background: transparent;
    padding: .5rem;
    border-radius: .2rem;
    display: flex;
    color: var(--color-light);
    font-size: .7rem;
    align-items: baseline;
}

.topNavLink:hover {
    background: transparent;
}

/* -------------- Responsive Media Queries ( Medium and Large Size) ----------------*/

@media screen and (min-width: 600px) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .topNav {
        display: none;
    }
}

@media screen and (max-height: 400px) {

    @media screen and (min-width: 600px) {
        nav {
            display: flex;
        }
    }
}

@media screen and (max-height: 600px) {
    .topNav {
        display: none;
    }
}